*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    border: 5px solid;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 10px #0000088c, -10px -10px -10px #0000088c;
}
h1{
    font-size: 3em;
    margin: 20px;
    opacity: 0;
}
label{
    font-size: 2em;
    margin: 10px;
}
input{
    width: 25%;
    height: 70px;
    font-size: 3em;
    padding: 20px 20px;
    margin: 20px;
}
button{
    font-size: 3em;
    padding: 15px 40px;
    margin: 35px;
    background: blue;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.2s ;
}
button:hover{
    transform: scale(1.2);
}